spring-mytest/src/main/resources/META_INF/spring/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.lexueba.com/scehme/user"
        elementFormDefault="qualified">

    <element name="user">
        <complexType>
            <attribute name="email" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="id" type="string"/>
        </complexType>

    </element>
</schema>